@using BurgersApp.Models;
@model CreateOrderViewModel;

<h2>Welcome to PseudoBurgers order service</h2>

<form asp-controller="Order" asp-action="ConfirmOrder" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">First and last name</span>
        </div>
        <input asp-for="Form.FirstName" type="text" class="form-control" placeholder="Name" required="required"/>
        <input asp-for="Form.LastName" type="text" class="form-control" placeholder="Surname" required="required"/>
    </div>
    <br/>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Address</span>
        </div>
        <input asp-for="Form.Address" type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1" required="required"/>
    </div>
    <br/>

    @* <label asp-for="Form.FirstName">Name</label>
    <input asp-for="Form.FirstName" class="form-control"/>

    <label asp-for="Form.LastName">Surname</label>
    <input asp-for="Form.LastName" class="form-control"/> *@

    @* <label asp-for="Form.Address"></label>
    <input asp-for="Form.Address" class="form-control"/> *@
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="Form.LocationId" class="input-group-text" for="inputGroupSelect01">Location</label>
        </div>
        <select asp-for="Form.LocationId" asp-items="Model.Location" class="custom-select" id="inputGroupSelect01"></select>
    </div>
    @* <label asp-for="Form.LocationId">Location</label>

    <select asp-for="Form.LocationId" asp-items="Model.Location"></select> *@
    <br />

    <div class="select-burgers-container">
        @for(int i=0; i<Model.Form.Burgers.Count(); i++)
        {
                <input type="hidden" asp-for="Form.Burgers[i].BurgerId"/>
            <div class="select-burgers">
                <label asp-for="Form.Burgers[i].IsSelected">
                    @Model.Form.Burgers[i].BurgerName, <i><small>Price: @Model.Form.Burgers[i].BurgerPrice</small></i>
                </label>
                <input type="checkbox" asp-for="Form.Burgers[i].IsSelected"/>
                <br/>

                <label asp-for="Form.Burgers[i].Quantity"><small>Select quantity</small></label>
                <select asp-for="Form.Burgers[i].Quantity" class="custom-select" id="inputGroupSelect01">
                @for(int j = 1; j<=5; j++)
                {
                    <option>@j</option>
                }
                </select>
                <br/>

                <label asp-for="Form.Burgers[i].HasFries"><small>Add fries(adds +40 to the price)</small></label>
                <input type="checkbox" asp-for="Form.Burgers[i].HasFries"/>
            </div>

            <input type="hidden" asp-for="Form.Burgers[i].BurgerName"/>
            <input type="hidden" asp-for="Form.Burgers[i].BurgerPrice"/>
            <input type="hidden" asp-for="Form.Burgers[i].BatchOrderBurgerPrice"/>
            <input type="hidden" asp-for="Form.TotalPrice"/>
            <br />
        }
    </div>

    <button type="submit" class="btn btn-lg bg-primary">Submit</button>
</form>
@*<p>Would you like a single order or batch order?</p>

<a asp-controller="Menu" asp-action="Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    Single order
</a>

<a asp-controller="Order" asp-action="CreateOrder" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    Batch order
</a>*@