<h3 class="container col-6 mb-lg-5">About PseudoBurgers</h3>

<div class="container col-7">
    <p>PseudoBurgers is a student project for the subject Developing ASP.NET Web Applications 
        of Seavus Education and Development Center, Academy for Web Development, .NET module, of academic year 2021/2022.
    </p>
    <p>This project serves as a prototype for a web aplication for online ordering of burgers from burger shop
        franchise with severall physicall locations.
    </p>
    <p>Creater of this app is Bojan Trpchevski, a web development student at SEDC.</p>
    <p>Phone: 011-235-813</p>
    <p>Mail: <a href="mailto:bojan@rocketship.com">bojan@rocketship.com</a></p>
</div>

