@using BurgersApp.Application.ViewModel.Location
@model LocationViewModel;

@{
    Layout = "_Layout";
}
<form asp-controller="Home" asp-action="DeleteLocation" asp-route-id="@Model.Id" method="post">
    Are you sure you want to delete this item?
    <button type="submit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Confirm</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Return</a>
</form>
