@using BurgersApp.Application.Dto.Home
@model LoginDto

<form class="container col-4" method="post">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Username" asp-for="@Model.Userame">
        </div>
        <div class="col">
            <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Password">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>
</form>

<br /><br />

<div class="alert alert-warning" role="alert">
    <h3 class="text-center">This feature is still in development.</h3>
</div>