.menu-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin-top: 50px;
}

#menu-title {
    text-align: center;
    margin: 25px auto;
}

.burger-container {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    height: 70%;
    width: 45%;
    background-color: whitesmoke;
    color: #292b2c;
}

.burger-container a {
    margin-top: 25px;
    bottom: 0;
}

.hidden {
    display: none;
}

img {
    height:300px;
    width: 100%;
}