@media (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

nav {
    background-color: #f7f7f7;  
}

header {
    font-size: x-large;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #f7f7f7;
}

header li {
    padding: 1px;
    margin: 1px 25px;
    border: 1px solid f7f7f7;
    background-color: #f7f7f7;
}

body {
    margin-bottom: 60px;
    background-color: #292b2c;
    color: #f0ad4e;
}

.select-burgers-container {
    display: flex;
    flex-flow: row wrap;
}

.select-burgers {
    width: 25%;
    background-color: whitesmoke;
    color:#292b2c;
    border-radius: 5px;
    margin: 5px;
}

.order-log-container {
    background-color: whitesmoke;
    color: #292b2c;
    width: 50%;
    border-radius: 5px;
}

.order-log-container div {
    background-color:aliceblue;
    width: 50%;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.payment {
    border: 2px solid whitesmoke;
    padding: 5px;
    margin-top: 75px;
}

footer {
    background-color: whitesmoke;
    position: fixed;
}

footer a {
    text-decoration: none;
    padding-left: 500px;
}

p strong {
    color: #0275d8
}

.main-container {
    display: flex;
    flex-flow: row wrap;
}

.home-sections {
    background-color: whitesmoke;
    color:#292b2c;
    border: 1px solid grey;
    border-radius: 12.5px;
    display: flex;
    flex-flow: column wrap;
    width: 55%;
    padding: 10px;
}

.statistics-section{
    display: flex;
    flex-flow: column nowrap;
    margin: 25px;
    padding: 50px;
    width: 45%;
}

.locations{
    width: 45%;
    margin-top: 75px;
}

.statistics-section div {
    width: 100%;
}