@using BurgersApp.Application.Dto.Burgers
@model BurgerDto;

@{
    Layout = "_Layout";
}
<form asp-controller="Admin" asp-action="DeleteBurger" asp-route-id="@Model.Id" method="post">
    Are you sure you want to delete this item?
    <button type="submit" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Confirm</button>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Return</a>
</form>