@using BurgersApp.Application.Dto.Burgers
@model BurgerDto

<form asp-controller="Admin" asp-action="EditBurger" asp-route-id="@Model.Id" method="post">
    <input asp-for=Id type="hidden"/>

    <label asp-for=Name></label>
    <input asp-for=Name class="form-control"/>
    <br />

    <label asp-for=Price></label>
    <input type="number" asp-for=Price class="form-control"/>
    <br />

    <label asp-for=Ingredients></label>
    <textarea asp-for=Ingredients rows="5" cols="30"class="form-control"></textarea>
    <br />

    <label asp-for=ImgSrc> Image url</label>
    <textarea asp-for=ImgSrc rows="2" cols="100" class="form-control"></textarea>
    <br />

    <button type="submit" class="btn btn-lg bg-primary">Update</button>
</form>