@using BurgersApp.Application.Dto.Location

@model LocationDto

<form asp-controller="Admin" asp-action="EditLocation" asp-route-id="@Model.Id" method="post">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />

    <label asp-for="Address"></label>
    <input class="form-control" asp-for="Address"/>

    <label asp-for="Opens"></label>
    <input class="form-control" asp-for="Opens"/>

    <label asp-for="Closes"></label>
    <input class="form-control" asp-for="Closes"/>
    <br>

    <button type="submit" class="btn btn-lg bg-primary">Update</button>

</form>